<div class="explains col-lg-8 col-lg-offset-2">

    <div class="jumbotron" style="margin-top:10px;">
        <h1 class="text-center">adRom Webhook Listener</h1>
        <p class="text-center">
            Receive JSON requests.
        </p>
        <p class="text-center">
            <a class="btn btn-lg btn-primary" href="http://customerportal.adrom.cc/#/documentation/webhooks" target="_blank" role="button">Documentation</a>
        </p>
    </div>

    <div class="row">
        <div class="col-lg-4 col-md-4 col-sm-4">
            <h4>Bounce</h4>
            <p>
                <table class="table table-bordered table-condensed">                     
                    <tbody>                        
                        <tr> 
                            <th style="width:50px;" class="text-center">URL</th>
                            <td>/Webhook/Bounce</td>
                        </tr>
                    </tbody> 
                </table>
            </p>
        </div>

        <div class="col-lg-4 col-md-4 col-sm-4">
            <h4>FeedbackLoop</h4>
            <p>
                <table class="table table-bordered table-condensed">
                    <tbody>
                        <tr>
                            <th style="width:50px;" class="text-center">URL</th>
                            <td>/Webhook/FeedbackLoop</td>
                        </tr>
                    </tbody>
                </table>
            </p>
        </div>

        <div class="col-lg-4 col-md-4 col-sm-4">
            <h4>Delivered/Dropped</h4>
            <p>
                <table class="table table-bordered table-condensed">
                    <tbody>
                        <tr>
                            <th style="width:50px;" class="text-center">URL</th>
                            <td>/Webhook/DeliveredDropped</td>
                        </tr>
                    </tbody>
                </table>
            </p>
        </div>

    </div>

</div>